
.shape-create{
  .title-area {

    border-bottom: 1px solid var(--border-color);
    display: flex;
    padding-bottom: 1rem; //16px

    button {
      height: 2.5rem; //16px
      background-color: var(--fail-color);
    }


    h2 { 

      font-size: 1.5rem; // 24px

      }
    }
    
    form {
      margin: 1.5rem 0; // 24px 0
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      
      .grid-form {
        margin-bottom: 1.5rem;
  
  
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 1.5rem; // 24px
      column-gap: 2rem; // 32px
  
      @media (max-width: 800px) {
        grid-template-columns: 1fr;
      }
  
      .form-areas {
        display: flex;
      }
    }
     
    }
  }