header {
  height: 6rem; // 96px
  background-color: var(--primary-color);
  padding: 0 3rem;

  display: flex;
  align-items: center;

  h1 {
    span {
      color: var(--button-color);
    }
  }
}
