header {
  height: 6rem; // 96px
  background-color: var(--primary-color);
  padding: 0 3rem;

  display: flex;
  align-items: center;

  h1 {
    span {
      color: var(--button-color);
    }
  }
}

.shape {
  h2 { 
    font-size: 1.5rem; // 24px
    border-bottom: 1px solid var(--border-color);

    padding-bottom: 1rem; // 16px
  }

  form {
    margin: 1.5rem 0; // 24px 0
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5rem; // 24px
    column-gap: 2rem; // 32px

    @media (max-width: 800px) {
      grid-template-columns: 1fr;
    }

    .form-areas {
      display: flex;
    }
  }
}