.shape {
  background-color: var(--primary-color);
  
  margin: 0 3rem; // 0 48px;
  margin-top: 1.5rem; // 24px;

  padding: 1rem 1.5rem; // 16px 24px;
  padding-bottom: 1.5rem; // 24px;

  border-radius: 0.5rem; // 8px
}