.input {
  display: flex;
  flex-direction: column;
  font-weight: 500;

  input {
    height: 3rem; // 48px
    font-size: 1rem;
    border-radius: 0.25rem; // 4px
    border: none;

    padding: 0 1rem; // 16px
    margin-top: 0.5rem; // 8px       

    background-color: var(--background-color);
    color: var(--text-color);

    &::placeholder {
      color: var(--placeholder-color);
    }

    &:focus {
      outline: 2px solid var(--button-color);
    }

    &.error {
      outline: 2px solid var(--fail-color);
    }

  }

    span {
      font-size: 0.75rem; //12px
      color: var(--fail-color);

      margin-top: 0.25rem; //4px

    }

}